
circle.highlighted {
  /* Styles for highlighted circles */
  stroke: black;
  stroke-width: 2;
}
  line {
    stroke: #ccc;
  }
  text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: #666;
    font-size: 16px;
  }