
circle.highlighted {
  /* Styles for highlighted circles */
  stroke: rgb(251, 248, 106);
  position: relative;
  stroke-width: 3;
}
  line {
    stroke: #ccc;
  }
  text {
    text-anchor: middle;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    fill: #666;
    font-size: 16px;
  }
  .tooltip{
  position: absolute;
  text-align: center;
  padding: 6px;
  font-size: 18px;
  background: rgba(138, 137, 125, 0.7);
  color: #fff;
  pointer-events: none;
  border-radius: 4px;
  top: 450px;
  z-index: 999;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center content vertically */
}

.content-section {
  display: inline-block;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content1, #content2 {
  background-color: #fdfdfd; 
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

svg {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}